<div>
    <div>
      <section>
        <%= link_to "LOG IN", new_user_session_path, class: 'login no-underline' %>
        <%= link_to "SIGN UP", new_user_registration_path, class: 'signup no-underline' %>
      </section>
    </div>
    <div></div>
</div>