<div class="w-screen">
    <div class="mb-8 px-3.5 pt-4 mx-10">
      <div class="min-h-[60vh] grid justify-items-center items-center">
        <h1>Budgetly</h1>
      </div>
      <section class="flex flex-col items-center space-y-4">
        <%= link_to "LOG IN", new_user_session_path, class: 'text-gray-600 login no-underline bg-[#3978c3] w-[80vw] p-4 text-center rounded' %>
        <%= link_to "SIGN UP", new_user_registration_path, class: 'text-gray-600 signup no-underline w-[80vw] p-4 text-center' %>
      </section>
    </div>
    <div></div>
</div>